#diary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f4ff;
  width: 100%;
  height: 100%;
}

#draw {
  width: 80%;
  height: 270px;
  background-color: white;
  border-radius: 25px;
  border: 4px solid rgb(220, 220, 220);
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#date {
  font-size: 20px;
  font-weight: bold;
  height: 70px;
  display: flex;
  align-items: center;
}

#contentBox {
  width: 90%;
  height: auto;
  background-color: white;
  border-radius: 25px;
  border: 4px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#btn_paint {
  width: 80%;
  height: 50px;
  background-color: #82aae3;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#writeBox {
  margin: 0 10px;
  width: 85%;
  resize: none;
  margin-bottom: 20px;
  min-height: 350px;
  overflow: hidden;
  outline: 0;
  border: 0;
  font-size: 15px;
}

#btn_save {
  width: 90%;
  height: 40px;
  background-color: #82aae3;
  color: white;
  margin: 20px 0 40px 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}