.skeletonText {
  background-color: #dddddd;
  border-radius: 1.5rem;
  margin-bottom: 3.5rem;
}

.skeletonBox {
  background-color: #dddddd;
  width: 45%;
  height: 12rem;
  border-radius: 1.5rem;
  margin-bottom: 10px;
}

.skeleton {
  position: relative;
  overflow: hidden;
  animation: skeleton-gradient 1.5s infinite ease-in-out;
}

@keyframes skeleton-gradient {
    0% {
      background-color: rgb(165,165,165,0.2);
    }
    50% {
      background-color: rgb(165,165,165,0.6);
    }
    100% {
      background-color: rgb(165,165,165,0.2);
    }
  }